.header
  %ul.nav.nav-pills.pull-right
    - if user_signed_in?
      -if current_user.has_role? 'admin'
        %li=link_to 'Admin', admin_root_path
      -if current_user.has_role? 'dispatcher'
        %li=link_to 'Receipts', admin_receipts_path
      -# %li= link_to 'Edit account', edit_user_registration_path
      %li= link_to 'Sign out', destroy_user_session_path, method: :delete
    -else
      %li= link_to 'Login', '#sign_in', 'data-toggle' => 'modal', class: 'btn btn-small'
  %h3.text-muted
    =image_tag 'usu-aviation.jpg', class: 'img-responsive pull-left', width: 100
    USU Aviation Fuel Tracker

